extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header
    h1 PJAX-TEST1
  main
    article
      h2 ARTICLE1
    nav#sidebar
      h2 NAVIGATION1
      ul.sidebar__list
        li.sidebar__item: a.sidebar__link.js-pjax(href="/about/") ABOUT
        li.sidebar__item: a.sidebar__link.js-pjax(href="/contact/") CONTACT
        li.sidebar__item: a.sidebar__link.js-pjax(href="/recruit/") RECRUIT
  footer
    small.copyright &copy; 2017 KAYAC1 Inc.
