@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  min-height: 600px; }

body, html {
  height: 100%; }

body {
  font-family: Helvetica, YuGothic, "游ゴシック", sans-serif; }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #3333ff;
  border-bottom: 4px solid #333; }

main {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  height: calc(100% - 200px);
  background-color: #33ffff; }

article {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: #55cc99;
  border: 4px solid #333;
  padding: 20px; }

.article--about {
  color: red; }

.article--contact {
  color: blue; }

.article--recruit {
  color: yellow; }

nav {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #cc9955;
  padding: 20px;
  border-top: 4px solid #333;
  border-right: 4px solid #333;
  border-bottom: 4px solid #333; }

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 4px solid #333;
  height: 100px;
  background-color: #ff33ff; }

h1, h2 {
  font-weight: bold; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 24px; }

small {
  font-size: 12px;
  letter-spacing: .03em; }

.sidebar__list {
  padding-left: 24px; }

.sidebar__item {
  display: block;
  margin-top: 20px; }

.sidebar__link {
  color: #111;
  font-weight: bold;
  letter-spacing: .06em;
  text-decoration: none;
  line-height: 1.4; }
  .sidebar__link:hover {
    border-bottom: 2px solid #111; }
