extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = 'CONTACT'

append StylesheetBlock
  link(rel="stylesheet", href="../css/style.css?v="+versions["style.css"])

append JavascriptBlock
  script(src="../js/script.js?v="+versions["script.js"])

block ContentBlock
  header
    h1 PJAX-TEST CONTACT
  main
    article.article--contact
      h2 ARTICLE CONTACT
    nav#sidebar
      h2 NAVIGATION CONTACT
      ul.sidebar__list
        li.sidebar__item: a.sidebar__link.js-pjax(href="../about/") ABOUT
        li.sidebar__item CONTACT
        li.sidebar__item: a.sidebar__link.js-pjax(href="../recruit/") RECRUIT
  footer
    small.copyright &copy; 2017 KAYAC CONTACT Inc.
